Header onsuccess unset Content-Security-Policy
Header always set Content-Security-Policy "default-src 'none'; style-src 'self'; script-src 'self'; form-action 'self'; frame-ancestors 'none'; base-uri 'none'; upgrade-insecure-requests"
